* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}
body {
  width: 100%;
  color: #1b2d45;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  background-image: linear-gradient(rgb(170, 78, 78), #ffbd4d);
  scroll-behavior: smooth;
  scroll-behavior: auto;
}
.wrapper {
  width: 100%;
  padding: 5vh;
  background-color: #fdf0bc;
}
.logo {
  height: 55px;
  width: 55px;
  scroll-padding-top: 0em;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
  background-color: #fdf0bc;
}
nav ul {
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
nav ul li a {
  color: #1b2d45;
  font-size: 18px;
  padding: 5px;
}
nav ul li a:hover {
  background-color: rgb(82, 35, 35);
  transition: 0.5s ease-in;
  color: #fff;
  border-radius: 5px;
}
.sign-up {
  font-size: 16px;
  padding: 5px;
  border: 2px solid #715c47;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}
#checkbtn {
  display: none;
}
#section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16vh;
}
#section-1 .content h1 {
  font-size: 60px;
  line-height: 110.5%;
  max-width: 100%;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
#section-1 .content p {
  font-size: 20px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: "Inter", sans-serif;
}
#section-1 .span {
  margin-top: 10vh;
  display: inline;
  cursor: pointer;
}
#section-1 .span .span-1 {
  background: #715c47;
  padding: 9px;
  border-radius: 5px;
  margin-right: 8px;
  color: #fff;
}
#section-1 .span .span-2 {
  border: 2px solid #715c47;
  padding: 9px;
  border-radius: 5px;
}
.hero-image {
  max-width: 100%;
  height: auto;
}
#section-2 {
  width: 100%;
  margin-bottom: 30vh;
}
.sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#section-2 .content {
  max-width: 35%;
}
#section-2 .content h1 {
  font-size: 60px;
  line-height: 110.5%;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
#section-2 .content p {
  font-size: 20px;
  margin-top: 3vh;
  font-family: "Inter", sans-serif;
}
.drinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.watermelon,
.pineapple {
  margin-right: 4vh;
  margin-left: 4vh;
  height: 31vh;
  width: 27vh;
  padding: 5px;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 8px 16px;
  border-radius: 10px;
  background-image: linear-gradient(#ffefbc, #ffbd4d);
}
.grape {
  position: relative;
  top: 10vh;
  margin-right: 4vh;
  margin-left: 4vh;
  height: 31vh;
  width: 27vh;
  object-fit: contain;
  box-shadow: rgb(0, 0, 0, 0.2) 4px 8px 16px;
  border-radius: 10px;
  background-image: linear-gradient(#ffefbc, #ffbd4d);
}
#section-3 {
  margin-bottom: 10vh;
}
#section-3 h1 {
  font-size: 50px;
  max-width: 65vh;
  margin-bottom: 10vh;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.fruit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.mango,
.kiwi,
.berry {
  margin-right: 4vh;
  margin-left: 4vh;
  padding: 2vh;
  object-fit: contain;
  box-shadow: rgb(0, 0, 0, 0.2) 4px 8px 16px;
  border-radius: 10px;
  background-image: linear-gradient(#ffefbc, #ffbd4d);
}
.mango-1 {
  height: 40vh;
  width: 36vh;
}
.mango p,
.kiwi p,
.berry p {
  margin-bottom: 2vh;
}
.kiwi-1 {
  height: 40vh;
  width: 36vh;
}
.berry-1 {
  height: 40vh;
  width: 36vh;
  object-fit: contain;
}
.price::first-letter {
  color: red;
}
.love-icon {
  fill: #fff;
}
.lovee {
  position: relative;
  bottom: 2vh;
  left: 33vh;
  background: #ffbd4d;
  width: 14%;
  padding: 6px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.view {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20vh;
  cursor: pointer;
}
.view p {
  margin-right: 3px;
  font-family: "Inter", sans-serif;
}

#section-4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact {
  text-align: center;
}
.contact h3 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.contact p {
  margin-top: 1vh;
  margin-bottom: 5vh;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 9vh;
}

input[type="email"] {
  outline: none;
  border: none;
  height: 4vh;
  border-radius: 5px;
  padding-left: 2vh;
}
input[type="text"] {
  margin-bottom: 1.5vh;
  outline: none;
  border: none;
  height: 4vh;
  border-radius: 5px;
  padding-left: 2vh;
}
textarea {
  outline: none;
  border: none;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: #ffa004;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 5px;
  outline: none;
  border: none;
}
.sitemap {
  text-align: center;
}
.sitemap h3 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.sitemap p {
  margin-top: 1vh;
  margin-bottom: 5vh;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.sitemap li {
  margin-bottom: 3vh;
  font-family: "Inter", sans-serif;
}
.sitemap li a {
  color: #000;
  font-size: large;
}
.contact-logo {
  height: 55px;
  width: 55px;
}
.message {
  text-align: center;
}
.phoneNum,
.mail {
  margin-top: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.phoneNum span {
  margin-left: 1vh;
  font-family: "Inter", sans-serif;
}
.mail span {
  margin-left: 1vh;
  font-family: "Inter", sans-serif;
}
.footer {
  display: block;
  text-align: center;
}
.social-media li {
  display: inline-block;
}
.social-media li p {
  margin-left: 3vh;
}
.fb,
.insta,
.x,
.yt {
  background: #fff;
  padding: 6px;
  border-radius: 5px;
  margin-right: 2vh;
}
.fb {
  background: #ffa004;
}
@media screen and (max-width: 1120px) {
  body {
    padding: 0;
  }
}
@media screen and (max-width: 1072px) {
  #section-2 .content h1 {
    font-size: 40px;
    line-height: 110.5%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    margin: 0vh;
  }
}
@media screen and (max-width: 938px) {
  .sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100;
  }
  #section-2 .content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 5vh;
  }
}
@media screen and (max-width: 913px) {
  #section-1 .content h1 {
    font-size: 40px;
    line-height: 110.5%;
  }
  #section-3 h1 {
    font-size: 40px;
  }
  .berry {
    margin-top: 4vh;
  }
  .hero-image {
    height: auto;
    width: 60vh;
  }
}
@media screen and (max-width: 853px) {
  #section-3 {
    justify-content: center;
  }
  #section-3 h1 {
    max-width: 100%;
    text-align: center;
    margin-bottom: 8vh;
  }
}
@media screen and (max-width: 683px) {
  .wrapper {
    margin: 0vh;
    padding: 2vh;
  }
  header {
    padding: 2vh;
  }
}
@media screen and (max-width: 693px) {
  .drinks {
    flex-direction: column;
  }
  .watermelon,
  .grape,
  .pineapple {
    margin-bottom: 4vh;
    margin-top: 4vh;
  }
  .grape {
    position: none;
    top: 0;
  }
}
@media screen and (max-width: 594px) {
  #section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15vh;
  }
  #section-1 .content {
    text-align: center;
  }
}
@media screen and (max-width: 553px) {
  .mango,
  .kiwi {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  footer {
    display: block;
  }
}
@media screen and (max-width: 523px) {
  #section-4 {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .sitemap {
    margin-bottom: 5vh;
  }
  .message {
    margin-bottom: 18vh;
  }
}
@media screen and (max-width: 500px) {
  #section-1 {
    margin-top: 4em;
  } 
}
@media screen and (max-width: 425px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
  }
  body {
    padding: 0;
  }
  header {
    position: fixed;
    top: 0;
    padding: 1em 1em;
    margin-bottom: 10em;
    z-index: 999;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .logo {
    height: auto;
    max-width: 100%;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 58px;
    right: 0;
    margin-right: 0;
    background: #715c47;
  }
  nav ul li {
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  nav ul li a {
    color: #ffd;
  }
  .sign-up {
    display: none;
  }
  #checkbtn {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  #section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15vh;
  }
}
@media screen and (max-width: 444px) {
  .sign-up {
    display: none;
  }
}
@media screen and (max-width: 348px) {
  #section-1 .hero-image {
    max-width: 100%;
  }
  #section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8vh;
    text-align: center;
  }
  textarea {
    display: flex;
    flex-wrap: wrap;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 266px) {
  .wrapper {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 234px) {
  .fruit {
    max-width: 100%;
  }
}
@media screen and (max-width: 266px) {
  body {
    padding: 0;
    background: #ffefbc;
  }
  #section-1 h1 {
    font-size: 20px;
    font-weight: normal;
  }
header {
  margin-bottom: 0;
  padding: 0;
}
}